.game .img {
  width: 180px;
  height: 180px;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.game .img:nth-of-type(1) {
  border: 15px solid #546ff4;
}
.game .img:nth-of-type(2) {
  border: 15px solid #eca41a;
}
.game .imgl {
  border: 15px solid #dd3e5a !important;
}

.game .img:hover {
  background-color: #ddd !important;
}

@media (max-width: 576px) {
  .game .img {
    width: 130px;
    height: 130px;
  }
}
